In [35]:
import pandas as pd
import numpy  as np
import os

In [36]:
os.path

In [37]:
FILENAME_sales_phases_funnel_df = os.path.join(os.getcwd(), r'data\sale_phases_funnel.csv')

In [38]:
FILENAME_sales_phases_funnel_df 
## do it for all the other files

'c:\\Users\\massi\\OneDrive\\Desktop\\Uni\\DMFBI-R\\7.final ass\\final_assignment_dmbi\\data\\sale_phases_funnel.csv'

In [39]:
sales_phases_funnel_df = pd.read_csv(FILENAME_sales_phases_funnel_df, delimiter=';')

sales_phases_funnel_df['OFFER_SENT_DATE'] = pd.to_datetime(sales_phases_funnel_df['OFFER_SENT_DATE'],dayfirst=True)
sales_phases_funnel_df['CONTRACT_1_DISPATCH_DATE'] = pd.to_datetime(sales_phases_funnel_df['CONTRACT_1_DISPATCH_DATE'],dayfirst=True)

sales_phases_funnel_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35158 entries, 0 to 35157
Data columns (total 22 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   LEAD_ID                     35158 non-null  object
 1   FINANCING_TYPE              35158 non-null  object
 2   CURRENT_PHASE               35158 non-null  object
 3   PHASE_PRE_KO                35158 non-null  object
 4   IS_MODIFIED                 35158 non-null  int64
 5   OFFER_SENT_DATE             35158 non-null  datetime64[ns]
 6   CONTRACT_1_DISPATCH_DATE    11606 non-null  datetime64[ns]
 7   CONTRACT_2_DISPATCH_DATE    1021 non-null   object
 8   CONTRACT_1_SIGNATURE_DATE   2296 non-null   object
 9   CONTRACT_2_SIGNATURE_DATE   948 non-null    object
 10  VISIT_DATE                  20888 non-null  object
 11  TECHNICAL_REVIEW_DATE       1943 non-null   object
 12  PROJECT_VALIDATION_DATE     1928 non-null   object
 13  SALE_DISMISSAL_DATE         305 non-null    object
 14  KO_DATE                     34001 non-null  object
 15  ZIPCODE                     34471 non-null  float64
 16  VISITING_COMPANY            35158 non-null  object
 17  KO_REASON                   33042 non-null  object
 18  INSTALLATION_PEAK_POWER_KW  35158 non-null  float64
 19  INSTALLATION_PRICE          35158 non-null  float64
 20  N_PANELS                    35158 non-null  int64
 21  CUSOMER_TYPE                35158 non-null  object
dtypes: datetime64[ns](2), float64(3), int64(2), object(15)
memory usage: 5.9+ MB

In [40]:
meteo_df = pd.read_csv('meteo_eae.csv', delimiter=';')

meteo_df

,date,temperature,relative_humidity,precipitation_rate,wind_speed,zipcode
0,2024/01/01 00:00:00.000,9.23763,80.46236,0.00001,0.86917,5
1,2024/01/01 00:00:00.000,2.85132,70.34123,0.00000,1.19543,40
2,2024/01/01 00:00:00.000,12.52156,68.36415,0.00000,1.74316,41
3,2024/01/01 00:00:00.000,2.97691,74.22747,0.00000,3.94315,42
4,2024/01/01 00:00:00.000,8.62595,54.41100,0.00000,3.17850,43
...,...,...,...,...,...,...
4114201,2024/12/31 00:00:00.000,10.12473,68.43024,0.00000,2.61134,80154
4114202,2024/12/31 00:00:00.000,10.26732,57.08380,0.00000,1.28835,80338
4114203,2024/12/31 00:00:00.000,5.99634,59.47399,0.00000,0.71365,90007
4114204,2024/12/31 00:00:00.000,7.18663,67.74951,0.00000,1.54551,91319
4114205,2024/12/31 00:00:00.000,7.18663,67.74951,0.00000,1.54551,91349

In [41]:
ZIPCODE_TYPES = {'ZIPCODE':'str','ZC_LATITUDE':'float64',
                 'ZC_LONGITUDE':'float64','AUTONOMOUS_COMMUNITY':'str',
                 'AUTONOMOUS_COMMUNITY_NK':'str','PROVINCE':'str'}


zipcode_df = pd.read_csv('zipcode_eae_v2.csv', delimiter=',',dtype=ZIPCODE_TYPES)

zipcode_df

,ZIPCODE,ZC_LATITUDE,ZC_LONGITUDE,AUTONOMOUS_COMMUNITY,AUTONOMOUS_COMMUNITY_NK,PROVINCE
0,01001,42.8500,-2.6667,Pais Vasco,PV,Álava
1,07119,39.6833,2.7000,Baleares,IB,Illes Balears
2,07110,39.6833,2.7000,Baleares,IB,Illes Balears
3,07109,39.7833,2.7333,Baleares,IB,Illes Balears
4,07108,39.8000,2.6833,Baleares,IB,Illes Balears
...,...,...,...,...,...,...
11402,49543,41.6667,-6.0333,Castilla - Leon,CL,Zamora
11403,49542,41.7167,-6.1500,Castilla - Leon,CL,Zamora
11404,49541,41.6833,-6.0833,Castilla - Leon,CL,Zamora
11405,49540,41.7500,-5.9833,Castilla - Leon,CL,Zamora
11406,49539,41.6167,-5.5333,Castilla - Leon,CL,Zamora

In [42]:
#SALES DATAFRAME STATUS OVERVIEW

print(sales_phases_funnel_df.isnull().sum())  # Count missing values per column

print('-------------------------')
print(sales_phases_funnel_df.info()) #info

LEAD_ID                           0
FINANCING_TYPE                    0
CURRENT_PHASE                     0
PHASE_PRE_KO                      0
IS_MODIFIED                       0
OFFER_SENT_DATE                   0
CONTRACT_1_DISPATCH_DATE      23552
CONTRACT_2_DISPATCH_DATE      34137
CONTRACT_1_SIGNATURE_DATE     32862
CONTRACT_2_SIGNATURE_DATE     34210
VISIT_DATE                    14270
TECHNICAL_REVIEW_DATE         33215
PROJECT_VALIDATION_DATE       33230
SALE_DISMISSAL_DATE           34853
KO_DATE                        1157
ZIPCODE                         687
VISITING_COMPANY                  0
KO_REASON                      2116
INSTALLATION_PEAK_POWER_KW        0
INSTALLATION_PRICE                0
N_PANELS                          0
CUSOMER_TYPE                      0
dtype: int64
-------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35158 entries, 0 to 35157
Data columns (total 22 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   LEAD_ID                     35158 non-null  object
 1   FINANCING_TYPE              35158 non-null  object
 2   CURRENT_PHASE               35158 non-null  object
 3   PHASE_PRE_KO                35158 non-null  object
 4   IS_MODIFIED                 35158 non-null  int64
 5   OFFER_SENT_DATE             35158 non-null  datetime64[ns]
 6   CONTRACT_1_DISPATCH_DATE    11606 non-null  datetime64[ns]
 7   CONTRACT_2_DISPATCH_DATE    1021 non-null   object
 8   CONTRACT_1_SIGNATURE_DATE   2296 non-null   object
 9   CONTRACT_2_SIGNATURE_DATE   948 non-null    object
 10  VISIT_DATE                  20888 non-null  object
 11  TECHNICAL_REVIEW_DATE       1943 non-null   object
 12  PROJECT_VALIDATION_DATE     1928 non-null   object
 13  SALE_DISMISSAL_DATE         305 non-null    object
 14  KO_DATE                     34001 non-null  object
 15  ZIPCODE                     34471 non-null  float64
 16  VISITING_COMPANY            35158 non-null  object
 17  KO_REASON                   33042 non-null  object
 18  INSTALLATION_PEAK_POWER_KW  35158 non-null  float64
 19  INSTALLATION_PRICE          35158 non-null  float64
 20  N_PANELS                    35158 non-null  int64
 21  CUSOMER_TYPE                35158 non-null  object
dtypes: datetime64[ns](2), float64(3), int64(2), object(15)
memory usage: 5.9+ MB
None

In [43]:
# CLEANING SALES FUNNEL DATAFRAME - 1

#DROPPING DUPLICATES

#count duplicates

print('There are ', sales_phases_funnel_df.duplicated().sum(), ' duplicate rows before duplicate cleaning') 

sales_phases_funnel_df.drop_duplicates(inplace=True)

print('There are ', sales_phases_funnel_df.duplicated().sum(), ' duplicate rows after duplicate cleaning')

There are  0  duplicate rows before duplicate cleaning
There are  0  duplicate rows after duplicate cleaning

In [44]:
# CLEANING SALES FUNNEL DATAFRAME -2

# DELETE UNUSABLE LEADS

# Drop rows where KO_REASON is "Unreachable"
sales_phases_funnel_df = sales_phases_funnel_df[~((sales_phases_funnel_df['CURRENT_PHASE'] == 'KO') & (sales_phases_funnel_df['KO_REASON'] == 'Unreachable'))]

# Reset the index of the updated DataFrame
sales_phases_funnel_df.reset_index(drop=True, inplace=True)

# Verify the changes
#print(sales_phases_funnel_df.isnull().sum())
#print(sales_phases_funnel_df.head())

sales_phases_funnel_df

,LEAD_ID,FINANCING_TYPE,CURRENT_PHASE,PHASE_PRE_KO,IS_MODIFIED,OFFER_SENT_DATE,CONTRACT_1_DISPATCH_DATE,CONTRACT_2_DISPATCH_DATE,CONTRACT_1_SIGNATURE_DATE,CONTRACT_2_SIGNATURE_DATE,...,PROJECT_VALIDATION_DATE,SALE_DISMISSAL_DATE,KO_DATE,ZIPCODE,VISITING_COMPANY,KO_REASON,INSTALLATION_PEAK_POWER_KW,INSTALLATION_PRICE,N_PANELS,CUSOMER_TYPE
0,C8877823,cash,Validated project,Validated project,0,2024-01-01,2024-01-03,NaN,09/01/2024,NaN,...,22/02/2024,NaN,NaN,8629.0,Internal,NaN,4.800,9562.77,12,Individual household
1,C2068654,cash,KO,Initial Offer,0,2024-01-01,NaT,NaN,NaN,NaN,...,NaN,NaN,02/01/2024,29730.0,Internal,Useless Contact,1.600,4650.92,4,Individual household
2,C1925058,cash,KO,Commercial visit,0,2024-01-01,NaT,NaN,NaN,NaN,...,NaN,NaN,03/01/2024,23007.0,Internal,Product. Vertical Building / Condominiums,3.600,7438.55,9,Community of owners
3,C3357155,cash,KO,Initial Offer,0,2024-01-01,NaT,NaN,NaN,NaN,...,NaN,NaN,04/01/2024,17007.0,Internal,Useless Contact,3.200,6580.33,8,SME
4,C5104785,cash,KO,Initial Offer,0,2024-01-01,NaT,NaN,NaN,NaN,...,NaN,NaN,04/01/2024,46210.0,Internal,Useless Contact,2.800,5937.57,7,Individual household
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28859,C2986619,cash,KO,Winback,0,2024-12-30,NaT,NaN,NaN,NaN,...,NaN,NaN,20/03/2025,43895.0,Internal,Useless Contact. Not Interested,1.515,5944.00,3,Individual household
28860,C1071478,cash,KO,Initial Offer,0,2024-12-30,NaT,NaN,NaN,NaN,...,NaN,NaN,08/01/2025,7400.0,Internal,Useless Contact. Not Interested,3.535,8522.83,7,SME
28861,C8350262,financed,Validated project,Validated project,0,2024-12-30,2025-01-08,10/01/2025,08/01/2025,10/01/2025,...,22/01/2025,NaN,NaN,47430.0,Internal,NaN,6.060,11457.01,12,Individual household
28862,C5247567,cash,KO,Initial Offer,0,2024-12-30,NaT,NaN,NaN,NaN,...,NaN,NaN,02/01/2025,18370.0,Internal,Useless Contact. Not Interested,2.020,6743.50,4,SME
28863,C4570179,cash,KO,Initial Offer,0,2024-12-30,NaT,NaN,NaN,NaN,...,NaN,NaN,01/01/2025,35018.0,Internal,Useless Contact. Incorrect Phone Number,5.555,10520.33,11,Individual household

In [45]:
# CLEANING SALES FUNNEL DATAFRAME - 3

# REMOVE OUTLIERS

# Calculate Q1 (25th percentile) and Q3 (75th percentile)
Q1 = sales_phases_funnel_df['INSTALLATION_PRICE'].quantile(0.25)
Q3 = sales_phases_funnel_df['INSTALLATION_PRICE'].quantile(0.75)

# Calculate the Interquartile Range (IQR)
IQR = Q3 - Q1

# Identify outliers inside a new Data Frame
outliers_df = sales_phases_funnel_df[(sales_phases_funnel_df['INSTALLATION_PRICE'] < (Q1 - 1.5 * IQR)) | 
                                     (sales_phases_funnel_df['INSTALLATION_PRICE'] > (Q3 + 1.5 * IQR))]

# Print the number of outliers
print(f"Number of outliers: {len(outliers_df)}")

# Update sales_phases_funnel_df to exclude the outliers
sales_phases_funnel_df = sales_phases_funnel_df[~((sales_phases_funnel_df['INSTALLATION_PRICE'] < (Q1 - 1.5 * IQR)) | 
                                                  (sales_phases_funnel_df['INSTALLATION_PRICE'] > (Q3 + 1.5 * IQR)))]

# Print the DataFrame without outliers
print("DataFrame without outliers:")
print(sales_phases_funnel_df)

# Print the DataFrame with only outliers
print("DataFrame with only outliers:")
print(outliers_df)


sales_phases_funnel_df

Number of outliers: 1096
DataFrame without outliers:
        LEAD_ID FINANCING_TYPE      CURRENT_PHASE       PHASE_PRE_KO  \
0      C8877823           cash  Validated project  Validated project
1      C2068654           cash                 KO      Initial Offer
2      C1925058           cash                 KO   Commercial visit
3      C3357155           cash                 KO      Initial Offer
4      C5104785           cash                 KO      Initial Offer
...         ...            ...                ...                ...
28859  C2986619           cash                 KO            Winback
28860  C1071478           cash                 KO      Initial Offer
28861  C8350262       financed  Validated project  Validated project
28862  C5247567           cash                 KO      Initial Offer
28863  C4570179           cash                 KO      Initial Offer

       IS_MODIFIED OFFER_SENT_DATE CONTRACT_1_DISPATCH_DATE  \
0                0      2024-01-01               2024-01-03
1                0      2024-01-01                      NaT
2                0      2024-01-01                      NaT
3                0      2024-01-01                      NaT
4                0      2024-01-01                      NaT
...            ...             ...                      ...
28859            0      2024-12-30                      NaT
28860            0      2024-12-30                      NaT
28861            0      2024-12-30               2025-01-08
28862            0      2024-12-30                      NaT
28863            0      2024-12-30                      NaT

      CONTRACT_2_DISPATCH_DATE CONTRACT_1_SIGNATURE_DATE  \
0                          NaN                09/01/2024
1                          NaN                       NaN
2                          NaN                       NaN
3                          NaN                       NaN
4                          NaN                       NaN
...                        ...                       ...
28859                      NaN                       NaN
28860                      NaN                       NaN
28861               10/01/2025                08/01/2025
28862                      NaN                       NaN
28863                      NaN                       NaN

      CONTRACT_2_SIGNATURE_DATE  ... PROJECT_VALIDATION_DATE  \
0                           NaN  ...              22/02/2024
1                           NaN  ...                     NaN
2                           NaN  ...                     NaN
3                           NaN  ...                     NaN
4                           NaN  ...                     NaN
...                         ...  ...                     ...
28859                       NaN  ...                     NaN
28860                       NaN  ...                     NaN
28861                10/01/2025  ...              22/01/2025
28862                       NaN  ...                     NaN
28863                       NaN  ...                     NaN

      SALE_DISMISSAL_DATE     KO_DATE  ZIPCODE VISITING_COMPANY  \
0                     NaN         NaN   8629.0         Internal
1                     NaN  02/01/2024  29730.0         Internal
2                     NaN  03/01/2024  23007.0         Internal
3                     NaN  04/01/2024  17007.0         Internal
4                     NaN  04/01/2024  46210.0         Internal
...                   ...         ...      ...              ...
28859                 NaN  20/03/2025  43895.0         Internal
28860                 NaN  08/01/2025   7400.0         Internal
28861                 NaN         NaN  47430.0         Internal
28862                 NaN  02/01/2025  18370.0         Internal
28863                 NaN  01/01/2025  35018.0         Internal

                                       KO_REASON INSTALLATION_PEAK_POWER_KW  \
0                                            NaN                      4.800
1                                Useless Contact                      1.600
2      Product. Vertical Building / Condominiums                      3.600
3                                Useless Contact                      3.200
4                                Useless Contact                      2.800
...                                          ...                        ...
28859            Useless Contact. Not Interested                      1.515
28860            Useless Contact. Not Interested                      3.535
28861                                        NaN                      6.060
28862            Useless Contact. Not Interested                      2.020
28863    Useless Contact. Incorrect Phone Number                      5.555

      INSTALLATION_PRICE  N_PANELS          CUSOMER_TYPE
0                9562.77        12  Individual household
1                4650.92         4  Individual household
2                7438.55         9   Community of owners
3                6580.33         8                   SME
4                5937.57         7  Individual household
...                  ...       ...                   ...
28859            5944.00         3  Individual household
28860            8522.83         7                   SME
28861           11457.01        12  Individual household
28862            6743.50         4                   SME
28863           10520.33        11  Individual household

[27768 rows x 22 columns]
DataFrame with only outliers:
        LEAD_ID FINANCING_TYPE      CURRENT_PHASE       PHASE_PRE_KO  \
150    C3557139       financed                 KO   Technical review
155    C1699912           cash                 KO  1st Contract sent
291    C1453380           cash                 KO      Initial Offer
307    C6748097           cash                 KO            Winback
364    C6362442           cash                 KO   Technical review
...         ...            ...                ...                ...
28794   C285262           cash                 KO            Winback
28819  C7023385       financed                 KO  Validated project
28829  C4386870           cash  Validated project  Validated project
28838  C8939809           cash                 KO            Winback
28846  C2174179           cash                 KO   Technical review

       IS_MODIFIED OFFER_SENT_DATE CONTRACT_1_DISPATCH_DATE  \
150              0      2024-01-03               2024-01-16
155              0      2024-01-03               2024-02-01
291              0      2024-01-04                      NaT
307              0      2024-01-04                      NaT
364              0      2024-01-05               2024-01-10
...            ...             ...                      ...
28794            0      2024-12-27                      NaT
28819            0      2024-12-28               2025-01-03
28829            0      2024-12-28               2025-02-26
28838            0      2024-12-28               2025-02-08
28846            0      2024-12-29               2025-01-03

      CONTRACT_2_DISPATCH_DATE CONTRACT_1_SIGNATURE_DATE  \
150                        NaN                       NaN
155                        NaN                       NaN
291                        NaN                       NaN
307                        NaN                       NaN
364                        NaN                       NaN
...                        ...                       ...
28794                      NaN                       NaN
28819               03/01/2025                03/01/2025
28829                      NaN                14/03/2025
28838                      NaN                29/01/2025
28846                      NaN                       NaN

      CONTRACT_2_SIGNATURE_DATE  ... PROJECT_VALIDATION_DATE  \
150                         NaN  ...                     NaN
155                         NaN  ...                     NaN
291                         NaN  ...                     NaN
307                         NaN  ...                     NaN
364                         NaN  ...                     NaN
...                         ...  ...                     ...
28794                       NaN  ...                     NaN
28819                03/01/2025  ...              10/01/2025
28829                       NaN  ...              18/03/2025
28838                       NaN  ...                     NaN
28846                       NaN  ...                     NaN

      SALE_DISMISSAL_DATE     KO_DATE  ZIPCODE VISITING_COMPANY  \
150                   NaN  19/01/2024  50637.0         Internal
155                   NaN  02/02/2024  25795.0         Internal
291                   NaN  21/03/2024   8189.0          No data
307                   NaN  04/01/2024   3202.0         Internal
364                   NaN  25/01/2024  43206.0         Internal
...                   ...         ...      ...              ...
28794                 NaN  16/04/2025  46180.0         Internal
28819                 NaN  08/04/2025  11370.0         Internal
28829                 NaN         NaN  11360.0         Internal
28838                 NaN  11/03/2025   8960.0         Internal
28846                 NaN  28/01/2025   8390.0         Internal

                                               KO_REASON  \
150               Competition. Better Installation Price
155                                     Opt-out - Others
291                                   Under Construction
307                                      Useless Contact
364    Competition. Higher Quality Inverter or Other ...
...                                                  ...
28794                    Useless Contact. Not Interested
28819                 Permits - Illegal Roof or Property
28829                                                NaN
28838                       Opt-out - Better Solar Offer
28846                    Timings. Wants Us to Call Later

      INSTALLATION_PEAK_POWER_KW INSTALLATION_PRICE  N_PANELS  \
150                        12.00           17116.87        30
155                        12.00           17036.48        30
291                        11.25           19759.30        30
307                        10.64           15311.01        28
364                        13.60           18047.39        34
...                          ...                ...       ...
28794                      12.12           16293.99        56
28819                    9595.00           20746.65        19
28829                      44.37           89323.91       102
28838                       5.22           19744.81        12
28846                       6.06           18332.67        12

               CUSOMER_TYPE
150    Individual household
155    Individual household
291    Individual household
307    Individual household
364                     SME
...                     ...
28794   Community of owners
28819  Individual household
28829  Individual household
28838  Individual household
28846                   SME

[1096 rows x 22 columns]

,LEAD_ID,FINANCING_TYPE,CURRENT_PHASE,PHASE_PRE_KO,IS_MODIFIED,OFFER_SENT_DATE,CONTRACT_1_DISPATCH_DATE,CONTRACT_2_DISPATCH_DATE,CONTRACT_1_SIGNATURE_DATE,CONTRACT_2_SIGNATURE_DATE,...,PROJECT_VALIDATION_DATE,SALE_DISMISSAL_DATE,KO_DATE,ZIPCODE,VISITING_COMPANY,KO_REASON,INSTALLATION_PEAK_POWER_KW,INSTALLATION_PRICE,N_PANELS,CUSOMER_TYPE
0,C8877823,cash,Validated project,Validated project,0,2024-01-01,2024-01-03,NaN,09/01/2024,NaN,...,22/02/2024,NaN,NaN,8629.0,Internal,NaN,4.800,9562.77,12,Individual household
1,C2068654,cash,KO,Initial Offer,0,2024-01-01,NaT,NaN,NaN,NaN,...,NaN,NaN,02/01/2024,29730.0,Internal,Useless Contact,1.600,4650.92,4,Individual household
2,C1925058,cash,KO,Commercial visit,0,2024-01-01,NaT,NaN,NaN,NaN,...,NaN,NaN,03/01/2024,23007.0,Internal,Product. Vertical Building / Condominiums,3.600,7438.55,9,Community of owners
3,C3357155,cash,KO,Initial Offer,0,2024-01-01,NaT,NaN,NaN,NaN,...,NaN,NaN,04/01/2024,17007.0,Internal,Useless Contact,3.200,6580.33,8,SME
4,C5104785,cash,KO,Initial Offer,0,2024-01-01,NaT,NaN,NaN,NaN,...,NaN,NaN,04/01/2024,46210.0,Internal,Useless Contact,2.800,5937.57,7,Individual household
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28859,C2986619,cash,KO,Winback,0,2024-12-30,NaT,NaN,NaN,NaN,...,NaN,NaN,20/03/2025,43895.0,Internal,Useless Contact. Not Interested,1.515,5944.00,3,Individual household
28860,C1071478,cash,KO,Initial Offer,0,2024-12-30,NaT,NaN,NaN,NaN,...,NaN,NaN,08/01/2025,7400.0,Internal,Useless Contact. Not Interested,3.535,8522.83,7,SME
28861,C8350262,financed,Validated project,Validated project,0,2024-12-30,2025-01-08,10/01/2025,08/01/2025,10/01/2025,...,22/01/2025,NaN,NaN,47430.0,Internal,NaN,6.060,11457.01,12,Individual household
28862,C5247567,cash,KO,Initial Offer,0,2024-12-30,NaT,NaN,NaN,NaN,...,NaN,NaN,02/01/2025,18370.0,Internal,Useless Contact. Not Interested,2.020,6743.50,4,SME
28863,C4570179,cash,KO,Initial Offer,0,2024-12-30,NaT,NaN,NaN,NaN,...,NaN,NaN,01/01/2025,35018.0,Internal,Useless Contact. Incorrect Phone Number,5.555,10520.33,11,Individual household

In [46]:
# CLEANING SALES FUNNEL DATAFRAME - 4

# FORCING DATA TYPES

###### this should be a string
####instead of doing this
####declare data types at the beginning and read them with read_csv

# Changing ZIPCODE column data type to interger as zipcode don't have decimals
sales_phases_funnel_df['ZIPCODE'] = sales_phases_funnel_df['ZIPCODE'].astype('Int64')

print(sales_phases_funnel_df.info())


nan_zipcode_rows = sales_phases_funnel_df[sales_phases_funnel_df['ZIPCODE'].isnull()]

sales_phases_funnel_df

<class 'pandas.core.frame.DataFrame'>
Index: 27768 entries, 0 to 28863
Data columns (total 22 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   LEAD_ID                     27768 non-null  object
 1   FINANCING_TYPE              27768 non-null  object
 2   CURRENT_PHASE               27768 non-null  object
 3   PHASE_PRE_KO                27768 non-null  object
 4   IS_MODIFIED                 27768 non-null  int64
 5   OFFER_SENT_DATE             27768 non-null  datetime64[ns]
 6   CONTRACT_1_DISPATCH_DATE    9736 non-null   datetime64[ns]
 7   CONTRACT_2_DISPATCH_DATE    943 non-null    object
 8   CONTRACT_1_SIGNATURE_DATE   2081 non-null   object
 9   CONTRACT_2_SIGNATURE_DATE   878 non-null    object
 10  VISIT_DATE                  18064 non-null  object
 11  TECHNICAL_REVIEW_DATE       1786 non-null   object
 12  PROJECT_VALIDATION_DATE     1773 non-null   object
 13  SALE_DISMISSAL_DATE         267 non-null    object
 14  KO_DATE                     26692 non-null  object
 15  ZIPCODE                     27221 non-null  Int64
 16  VISITING_COMPANY            27768 non-null  object
 17  KO_REASON                   25811 non-null  object
 18  INSTALLATION_PEAK_POWER_KW  27768 non-null  float64
 19  INSTALLATION_PRICE          27768 non-null  float64
 20  N_PANELS                    27768 non-null  int64
 21  CUSOMER_TYPE                27768 non-null  object
dtypes: Int64(1), datetime64[ns](2), float64(2), int64(2), object(15)
memory usage: 4.9+ MB
None

C:\Users\massi\AppData\Local\Temp\ipykernel_29528\3270753085.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales_phases_funnel_df['ZIPCODE'] = sales_phases_funnel_df['ZIPCODE'].astype('Int64')

,LEAD_ID,FINANCING_TYPE,CURRENT_PHASE,PHASE_PRE_KO,IS_MODIFIED,OFFER_SENT_DATE,CONTRACT_1_DISPATCH_DATE,CONTRACT_2_DISPATCH_DATE,CONTRACT_1_SIGNATURE_DATE,CONTRACT_2_SIGNATURE_DATE,...,PROJECT_VALIDATION_DATE,SALE_DISMISSAL_DATE,KO_DATE,ZIPCODE,VISITING_COMPANY,KO_REASON,INSTALLATION_PEAK_POWER_KW,INSTALLATION_PRICE,N_PANELS,CUSOMER_TYPE
0,C8877823,cash,Validated project,Validated project,0,2024-01-01,2024-01-03,NaN,09/01/2024,NaN,...,22/02/2024,NaN,NaN,8629,Internal,NaN,4.800,9562.77,12,Individual household
1,C2068654,cash,KO,Initial Offer,0,2024-01-01,NaT,NaN,NaN,NaN,...,NaN,NaN,02/01/2024,29730,Internal,Useless Contact,1.600,4650.92,4,Individual household
2,C1925058,cash,KO,Commercial visit,0,2024-01-01,NaT,NaN,NaN,NaN,...,NaN,NaN,03/01/2024,23007,Internal,Product. Vertical Building / Condominiums,3.600,7438.55,9,Community of owners
3,C3357155,cash,KO,Initial Offer,0,2024-01-01,NaT,NaN,NaN,NaN,...,NaN,NaN,04/01/2024,17007,Internal,Useless Contact,3.200,6580.33,8,SME
4,C5104785,cash,KO,Initial Offer,0,2024-01-01,NaT,NaN,NaN,NaN,...,NaN,NaN,04/01/2024,46210,Internal,Useless Contact,2.800,5937.57,7,Individual household
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28859,C2986619,cash,KO,Winback,0,2024-12-30,NaT,NaN,NaN,NaN,...,NaN,NaN,20/03/2025,43895,Internal,Useless Contact. Not Interested,1.515,5944.00,3,Individual household
28860,C1071478,cash,KO,Initial Offer,0,2024-12-30,NaT,NaN,NaN,NaN,...,NaN,NaN,08/01/2025,7400,Internal,Useless Contact. Not Interested,3.535,8522.83,7,SME
28861,C8350262,financed,Validated project,Validated project,0,2024-12-30,2025-01-08,10/01/2025,08/01/2025,10/01/2025,...,22/01/2025,NaN,NaN,47430,Internal,NaN,6.060,11457.01,12,Individual household
28862,C5247567,cash,KO,Initial Offer,0,2024-12-30,NaT,NaN,NaN,NaN,...,NaN,NaN,02/01/2025,18370,Internal,Useless Contact. Not Interested,2.020,6743.50,4,SME
28863,C4570179,cash,KO,Initial Offer,0,2024-12-30,NaT,NaN,NaN,NaN,...,NaN,NaN,01/01/2025,35018,Internal,Useless Contact. Incorrect Phone Number,5.555,10520.33,11,Individual household

#### So far for the sales_phases_funnel_df I have:

-Dropped any duplicates (It ddin't have any.)

-Deleted any row where the reason KO_REASON was "Unreachable" so we don't have unusable leads. 

-Got rid of outliers for the INSTALLATION_PRICE in this dataframe and created a new dataframe out of the 

-Forced the datatype of ZIPCODE to interger after filling blanks with as zipcode don't have decimals

# -------------------------------------

## ZIPCODE DATAFRAME

In [55]:
#ZIPCODE DATAFRAME STATUS OVERVIEW

print(zipcode_df.isnull().sum())  # Count missing values per column

print('-------------------------')
print(zipcode_df.info())  # Check for NaNs in the dataset
zipcode_df

ZIPCODE                      0
ZC_LATITUDE                152
ZC_LONGITUDE               152
AUTONOMOUS_COMMUNITY        18
AUTONOMOUS_COMMUNITY_NK    269
PROVINCE                     0
dtype: int64
-------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11407 entries, 0 to 11406
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ZIPCODE                  11407 non-null  object
 1   ZC_LATITUDE              11255 non-null  float64
 2   ZC_LONGITUDE             11255 non-null  float64
 3   AUTONOMOUS_COMMUNITY     11389 non-null  object
 4   AUTONOMOUS_COMMUNITY_NK  11138 non-null  object
 5   PROVINCE                 11407 non-null  object
dtypes: float64(2), object(4)
memory usage: 534.8+ KB
None

,ZIPCODE,ZC_LATITUDE,ZC_LONGITUDE,AUTONOMOUS_COMMUNITY,AUTONOMOUS_COMMUNITY_NK,PROVINCE
0,01001,42.8500,-2.6667,Pais Vasco,PV,Álava
1,07119,39.6833,2.7000,Baleares,IB,Illes Balears
2,07110,39.6833,2.7000,Baleares,IB,Illes Balears
3,07109,39.7833,2.7333,Baleares,IB,Illes Balears
4,07108,39.8000,2.6833,Baleares,IB,Illes Balears
...,...,...,...,...,...,...
11402,49543,41.6667,-6.0333,Castilla - Leon,CL,Zamora
11403,49542,41.7167,-6.1500,Castilla - Leon,CL,Zamora
11404,49541,41.6833,-6.0833,Castilla - Leon,CL,Zamora
11405,49540,41.7500,-5.9833,Castilla - Leon,CL,Zamora
11406,49539,41.6167,-5.5333,Castilla - Leon,CL,Zamora

In [48]:
# CLEANING ZIPCODE DATAFRAME - 1


#DROPPING DUPLICATES

#count duplicates

print('There are ', zipcode_df.duplicated().sum(), ' duplicate rows before duplicate cleaning') 

zipcode_df.drop_duplicates(inplace=True)

print('There are ', zipcode_df.duplicated().sum(), ' duplicate rows after duplicate cleaning')

There are  0  duplicate rows before duplicate cleaning
There are  0  duplicate rows after duplicate cleaning

#### So far for the zipcode_df I have:

-Dropped any duplicates (It ddin't have any.)

# -------------------------------------

## METEO DATAFRAME

In [49]:
#METO DATAFRAME STATUS OVERVIEW

print(meteo_df.isnull().sum())  # Count missing values per column

print('-------------------------')
print(meteo_df.info())  # Check for NaNs in the dataset
meteo_df

date                  0
temperature           0
relative_humidity     0
precipitation_rate    0
wind_speed            0
zipcode               0
dtype: int64
-------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4114206 entries, 0 to 4114205
Data columns (total 6 columns):
 #   Column              Dtype
---  ------              -----
 0   date                object
 1   temperature         float64
 2   relative_humidity   float64
 3   precipitation_rate  float64
 4   wind_speed          float64
 5   zipcode             int64
dtypes: float64(4), int64(1), object(1)
memory usage: 188.3+ MB
None

,date,temperature,relative_humidity,precipitation_rate,wind_speed,zipcode
0,2024/01/01 00:00:00.000,9.23763,80.46236,0.00001,0.86917,5
1,2024/01/01 00:00:00.000,2.85132,70.34123,0.00000,1.19543,40
2,2024/01/01 00:00:00.000,12.52156,68.36415,0.00000,1.74316,41
3,2024/01/01 00:00:00.000,2.97691,74.22747,0.00000,3.94315,42
4,2024/01/01 00:00:00.000,8.62595,54.41100,0.00000,3.17850,43
...,...,...,...,...,...,...
4114201,2024/12/31 00:00:00.000,10.12473,68.43024,0.00000,2.61134,80154
4114202,2024/12/31 00:00:00.000,10.26732,57.08380,0.00000,1.28835,80338
4114203,2024/12/31 00:00:00.000,5.99634,59.47399,0.00000,0.71365,90007
4114204,2024/12/31 00:00:00.000,7.18663,67.74951,0.00000,1.54551,91319
4114205,2024/12/31 00:00:00.000,7.18663,67.74951,0.00000,1.54551,91349

In [50]:
#DROPPING DUPLICATES

#count duplicates

print('There are ', meteo_df.duplicated().sum(), ' duplicate rows before duplicate cleaning') 

meteo_df.drop_duplicates(inplace=True)

print('There are ', meteo_df.duplicated().sum(), ' duplicate rows after duplicate cleaning')

There are  0  duplicate rows before duplicate cleaning
There are  0  duplicate rows after duplicate cleaning

#### So far for the zipcode_df I have:

-Dropped any duplicates (It ddin't have any.)

In [ ]:
def read_from_csv():
    ZIPCODE_TYPES = {'ZIPCODE':'str','ZC_LATITUDE':'float64',
                 'ZC_LONGITUDE':'float64','AUTONOMOUS_COMMUNITY':'str',
                 'AUTONOMOUS_COMMUNITY_NK':'str','PROVINCE':'str'}
    zipcode_df = pd.read_csv('zipcode_eae_v2.csv', delimiter=',',dtype=ZIPCODE_TYPES)

   
    
    sales_phases_funnel_df = pd.read_csv(FILENAME_sales_phases_funnel_df, delimiter=';')
    
    #create list of tables
    list_of_tables = [zipcode_df, sales_phases_funnel_df]
    
    return list_of_tables
    #here all the read_csv function goes
    
def correct_dates(sales_phases_funnel_df):
    sales_phases_funnel_df['OFFER_SENT_DATE'] = pd.to_datetime(sales_phases_funnel_df['OFFER_SENT_DATE'],dayfirst=True)
    sales_phases_funnel_df['CONTRACT_1_DISPATCH_DATE'] = pd.to_datetime(sales_phases_funnel_df['CONTRACT_1_DISPATCH_DATE'],dayfirst=True)
    return sales_phases_funnel_df